<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>webgl</title>
    <style>body, html {
        width: 100%;
        padding: 0px;
        margin: 0px
    }</style>
</head>
<body>
    <script src="/howler.js/src/howler.core.js"></script>
    <script src="/howler.js/src/plugins/howler.spatial.js"></script>
    <script src="/spine-runtimes/spine-js/spine.js"></script>
    <script src="/live2d/live2d.min.js"></script>
    <canvas id="glCanvas"></canvas>
    <canvas id="textCanvas", style="display: none"></canvas>
    <script src='bundle.js'></script>
</body>
</html>